= render :partial => "site/home_section"

= render :partial => "site/about_section"

= render :partial => "site/products_section"

= render :partial => "site/contact_section"




























