@font-face {
    font-family: 'Thryomanes';
    src: url('/assets/thryomanes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Adam';
    src: url('/assets/Adam.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}